@media (max-width 2000px){

  .contents{
      width:88%;
      padding-top:170px;
    }

}




@media (max-width:1000px){
.contents{
    width:100%;
   padding-top:170px;
  }


}

@media (max-width:750px) {
.footer+.contents+.header{
    width:50%;
  }
.footer{
    text-align: center;

  }
.contents{
  padding-top:170px;
}

#contacts{
  font-size:22px;

}
.text2{
  font-size:22px;
}
.header-list{
  padding-bottom:13px;
}
}
