@media (max-width 2000px){

  .contents{
      width:88%;
    }
}




@media (max-width:1000px){
.contents{
    width:100%;
  }
}

@media (max-width:750px) {
.footer+.contents+.header{
    width:50%;
  }
.footer{
    text-align: center;

  }
  #language-learned{
  padding-top: 10px;
  }
#contacts{
  font-size:22px;

}
.text2{
  font-size:22px;
}
.header-list{
  padding-bottom:13px;
}
}
