*{
  margin: 0px;
  padding-left:0px;
  font-family: 'Georgia';

}
@media query {maxWidth

}

.header{
color:#fff;
background-color:  #121252 ;
width:100%;
position: fixed;
}
#header-logo-text{
  font-size: 40px;
}

header a{
color: white;

}

li{

  list-style: none;
  color:white;
  float: left;
  margin:20px auto auto 40px;

}
.header-logo h3{
padding-left:400px;

}
.contents{
width:100%;
padding-top:170px;
margin: auto auto 0px auto;
padding-bottom: 30px;
}
.contets a {
padding-left: 30px;
padding-top:30px;
  }
.contents span{
border-bottom:3px solid black;

}
.contents-item {

  float:left;
  padding-left:70px;
  padding-top:45px;
}
.img{
width: 250px;
height:130px;
}
.contents-item h5,p{
padding-top:30px;

}
.contents-item h5{
  border-bottom: 2px solid black;
  width: 250px;
  font-size:20px;
}
.answer{
  width: 250px;
font-size:15px;
display:none;
}
.clear{
  clear: left;
}

.introduction{
background-color:  #101045  ;
color:black;



}
.introduction-logo{
  font-size: 35px;
  border-top:2px solid black;
}

.text{
  padding-bottom: 3px;
}
.text span{
  color: #000080 ;
}

.contents-text{

  display:none;
}

.footer {
background-color: #210B61;
padding-top:5px;
color: black;
}
.footer-logo{

  font-size: 30px;
}
.footer-text{

  padding-top: 5px;
}
.footer-logo span{
border-bottom:3px solid black;
}

.footer-contents{
padding: 20px;

}
.footer-item {
float: left;
padding:40px;
  }
.footer-item h3{
padding-top:6px;

}

.footer-img{
    width: 100px;
    height:100px;
    }



.down {
 display:none;


}
#contacts{
  border-top:2px solid black;
}

.addition{
  width: 500px;
  padding:0px 0px 150px 1200px;

}
